<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    TEst{{c}}
    <br>
    <input type="text" v-model="c">
    <div class="box" v-if="">
      <h1>指令和生命周期</h1>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
  </div>
  <button id="btn">btn</button>
  <script src="/xuni/bundle.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        a:{
          b:10
        },
        c:5
      },
      watch:{
        a(){
          console.log('a变了')
        }
      },
      created(){

      },
      mounted(){
        
      }
    })
    console.log(vm)
  </script>
</body>
</html>